.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 1em;
}

.items{
    padding: 2em;
    background-color: rgb(77, 77, 252);
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}